# List function
# List Methods

## # Difference Between function and methods(after function and oops)

# List Funtiction

In [1]:
''' 
1. len()
2. max()
3. min()
4. sum()
5. sorted()
6. any()
7. all()
8. list()
'''

' \n1. len()\n2. max()\n3. min()\n4. sum()\n5. sorted()\n6. any()\n7. all()\n8. list()\n'

## # List methods

In [2]:
'''
1. appned()
2. extend()
3. insert()
4. index()
5. count()
6. remove()
7. pop()
8. clear()
9. reverse()
10. sort()
'''

'\n1. appned()\n2. extend()\n3. insert()\n4. index()\n5. count()\n6. remove()\n7. pop()\n8. clear()\n9. reverse()\n10. sort()\n'

# List comprehension

In [3]:
# syntax
# list_comp = [x for x in iterable <test_condition>]

In [4]:
'''
Iterable : 
list 
dic
tuple
set 
string

'''

'\nIterable : \nlist \ndic\ntuple\nset \nstring\n\n'

In [5]:
my_string = "aditya papal"
my_list=[]

In [6]:
for i in my_string:
    my_list.append(i)

In [7]:
my_list

['a', 'd', 'i', 't', 'y', 'a', ' ', 'p', 'a', 'p', 'a', 'l']

In [8]:
x = [i for i in my_string]

In [9]:
x

['a', 'd', 'i', 't', 'y', 'a', ' ', 'p', 'a', 'p', 'a', 'l']

## WAP to produce a square of num form 1 to 5, store in a list and print the list

In [10]:
# using loop

In [11]:
mylist = []
for i in range(1,6):
    mylist.append(i**2)
mylist

[1, 4, 9, 16, 25]

In [12]:
# Using comprehension

In [13]:
mylist = [i**2 for i in range(1,6)]
mylist

[1, 4, 9, 16, 25]

## WAp to get string form user and convert each word of it in uppercase and strore in list

In [14]:
mystring = input("Enter the string: ")

Enter the string: aditya papal

In [15]:
# using loop

In [16]:
mylist = []
for i in mystring:
    mylist.append(i.upper())

In [17]:
mylist

['A', 'D', 'I', 'T', 'Y', 'A', ' ', 'P', 'A', 'P', 'A', 'L']

In [18]:
# Using Comprehension
mylist = [i.upper() for i in mystring]

In [19]:
mylist

['A', 'D', 'I', 'T', 'Y', 'A', ' ', 'P', 'A', 'P', 'A', 'L']

In [20]:
# whole string in upper

In [21]:
mylist = [x.upper() for x in mystring.split()]

In [22]:
mylist

['ADITYA', 'PAPAL']

## WAP to accept the 5 int from user and store them in  list, also find all sum and element in list

In [24]:
number = input("Eneter the 5 integers: ")

Eneter the 5 integers: 1 2 3 4 5

In [29]:
# using list
mylist = []
for i in number.split():
    mylist.append(int(i))
mylist,sum(mylist)

([1, 2, 3, 4, 5], 15)

In [31]:
# Using Comprehension
mylist = [int(i) for i in number.split()]

In [35]:
sum(mylist)

15

In [36]:
mylist

[1, 2, 3, 4, 5]

In [37]:
# WAP to produces square of only odd number from 1 to 50, sotre then in  a list and print it

In [39]:
# using loop 
mylist = []
for i in range(1,51):
    if i % 2 != 0:
        mylist.append(i**2)
        
mylist

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [40]:
# using Comprehension

In [42]:
mylist = [i**2 for i in range(1,51) if i % 2 !=0 ]

In [43]:
mylist

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

# Tuples

In [45]:
'''
Function in Tuples 
1. int()
2. max()
3. min()
4. sum()
5. sorted()
6. any() # at least one element should be true
7. all() # all element should be true
8. tuples()
'''

'\nFunction in Tuples \n1. int()\n2. max()\n3. min()\n4. sum()\n5. sorted()\n6. any()\n7. all()\n8. tuples()\n'

In [50]:
'''
Method in Tuple
1. insert()
2. count()
'''

'\nMethod in Tuple\n1. insert()\n2. count()\n'

In [48]:
mytuple =(1,2,3,4,5,6,7,8,9,10)

In [49]:
mytuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [52]:
#mytuple.

# function in string

In [53]:
# len()
# max()
# min()
# chr()
# ord()

# function for the dict

In [55]:
'''
function for the dict

len()
max()
min()
any()
all()
sorted()
dict()

'''

'\nfunction for the dict\n\nlen()\nmax()\nmin()\nany()\nall()\nsorted()\ndict()\n\n'

# Method in dic

In [56]:
# methods in dictionary
'''
clear()
copy()
setdefault()
get()
keys()
values()
items() 
updated() 
pop()
popitem()
'''

'\nclear()\ncopy()\nsetdefault()\nget()\nkeys()\nvalues()\nitems() \nupdated() \npop()\npopitem()\n'