# Global and Local vairiable

local variable: it is a variable which we are defining in the function and the scope will be in the function only

global variable: global variable is a variable which we are defining outside of the funciton and the scope will be global

#### Lamda function

In [1]:
# define 
lambda a,b:a+b

In [2]:
# there is two method of printing this function
# method 1 :
print((lambda a,b:a+b)(1,2))

3

In [3]:
# mehtod 2 :
add = lambda a,b:a+b
add(1,2)

3

In [4]:

a = int(input("Enter the fisrt number: "))
b =int(input("Enter the second number: "))
result = lambda a,b:(a**2,b**2)
print(result(a,b))

Enter the fisrt number: 1
Enter the second number: 1
(1, 1)

In [5]:

string = input("Enter the string: ")
result = lambda a:a[0]
print(result(string))

Enter the string: 1
1

In [6]:
# Local and global vaireable

In [7]:
def a():
    print(y)
y = "aditya"
a()

aditya

In [8]:
z = "aditya"
def b():
    print(z)
b()

aditya

In [9]:
def c():
    print(x)
c()
x = "aditya"

NameError: name 'x' is not defined

In [ ]:
# lambda function

In [ ]:
print((lambda a,b:a+b)(2,4))

In [ ]:
ab = lambda a,b:a*b (3,5)

In [ ]:
ab

In [ ]:
# Value from users and find its squre use lambda function

In [ ]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
sqr = lambda a,b : (a**2,b**2)
sqr(a,b)

In [ ]:
a = input("enter the string ")
print((lambda string:string[0])(a))

In [ ]:
n = int(input("Enter the number: "))
ans = lambda x : "Even" if x % 2 == 0 else "Odd"
ans(n)

In [ ]:
a = int(input("enter the number: "))
b = int(input("enter the number: "))
ans = lambda x,y : print(max(x,y))
ans(a,b)

## Map Function

In [ ]:
# syntax map(func,iterable)

In [ ]:
# square of number

In [ ]:
def sqr(n):
    return n**2
mylist = [1,2,3,4,5]
for i in mylist:
    print(sqr(i))

In [ ]:
# using map fun

In [10]:
def squar(n):
    return n**2
mylist = [1,2,3,4,5]

In [11]:
newlist = list(map(lambda x:x**2,mylist))

In [13]:
print(newlist)

[1, 4, 9, 16, 25]

In [21]:
def inspect(st):
    if len(st) % 2 == 0:
        return "even"
    else:
        return "Odd"
mylist = ["january",'February','March']
newlist = list(map(lambda x:"Even" if len(x) % 2 == 0 else "Odd",mylist))

In [22]:
newlist

['Odd', 'Even', 'Odd']

## Filter Function

In [29]:
# it filter out the values

In [30]:
# filter the even numbers only

In [32]:
mylist = [1,2,3,4,5,6,7,8,9,10]
def check_even(n):
    return n%2==0
for i in mylist:
    if check_even(i):
        print(i)

2
4
6
8
10

In [28]:
mylist = [1,2,3,4,5,6,7,8,9,10]
newlist = list(filter(lambda x:x%2==0,mylist))

In [27]:
newlist

[2, 4, 6, 8, 10]

In [33]:
# use map for all the values 
newlist = list(map(lambda x:x%2==0,mylist))

In [34]:
newlist

[False, True, False, True, False, True, False, True, False, True]

#### Write a lambda expression that accepts a string as argument and returns itâ€™s first character
#### Now use this lambda expression in map( ) function to work on for first 3 month names

In [36]:
list(map(lambda string: "EVEN" if len(string)%2==0 else "ODD",["januray","febuary","march","june","november"]))

['ODD', 'ODD', 'ODD', 'EVEN', 'EVEN']

In [37]:
# Write a lambda expression that accepts a character as argument and returns True if it is a vowel otherwise False

# Now ask the user to input his/her name and display only the vowels in the name . 
#In case the name does not contain any vowel display the message No vowels in your name

In [39]:
vowles  = input("Enter the name")
newlist = list(filter(lambda ch : ch in "aeiou",mystring))
newlist

Enter the nameaditya

['a', 'i', 'a']

In [40]:
mylist=list(vowles)
if len(mylist)==0:
    print("there is no vowels in your name")
else:
    print("there is a vowles in your name",mylist)

NameError: name 'vowles' is not defined