In [1]:
import pandas as pd
import numpy as np
import statistics

In [2]:
data2 = pd.read_csv("https://raw.githubusercontent.com/sunnysavita10/Statistics_With_Python/main/Iris.csv")

In [3]:
data2

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
data3=pd.read_csv("https://raw.githubusercontent.com/sunnysavita10/Statistics_With_Python/main/Titanic.csv")

In [5]:
data3

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [6]:
data=[23,24,32,45,12,43,67,45,32,56,32]

In [7]:
data.sort()

In [8]:
data

[12, 23, 24, 32, 32, 32, 43, 45, 45, 56, 67]

In [9]:
# Mean 
# Medain
# Mode

In [10]:
# Mean

In [11]:
round(np.mean(data))

37

In [12]:
# withoutinbulit function
sumof = sum(data)
sumof

411

In [13]:
mean = sumof / len(data)

In [14]:
mean

37.36363636363637

In [15]:
# Medain

In [16]:
data

[12, 23, 24, 32, 32, 32, 43, 45, 45, 56, 67]

In [17]:
np.median(data)

32.0

In [18]:
medi = round((len(data)/2))

In [19]:
medi

6

In [20]:
# mode

In [21]:
np.mode(data)

AttributeError: module 'numpy' has no attribute 'mode'

In [ ]:
import statistics as st

In [ ]:
st.mode(data)

In [ ]:
from statistics import mode

In [ ]:
mode(data)

In [ ]:
data

In [ ]:
data=[12, 23, 24, 32, 32, 32, 43, 45, 45, 56, 67,200,1000]

In [ ]:
data

In [ ]:
# if we have a outlier in my data so i won't use mean
np.mean(data)

In [ ]:
# i will be using median
np.median(data)

In [ ]:
mode(data)

In [ ]:
'''
#dispersion of the data
1. percentile of the data
2. std dev
3. variance 
'''

In [ ]:
data = [12, 23, 24, 32, 32, 32, 43, 45, 45, 56, 67]

In [ ]:
data

In [ ]:
len(data)

In [ ]:
np.percentile(data,[25])

In [ ]:
np.percentile(data,[25,45,100])

In [ ]:
# q1,q2,q3,q4
# IQR=q3-q1
# upper_bound=(q3+1.5*IQR)
# lower_bound=(q1-1.5*IQR)

In [ ]:
# Find IQR

In [ ]:
data=[-75,-2,-10,12, 23, 24, 32, 32, 32, 43, 45, 45, 56, 67, 200, 1000]

In [ ]:
per_arr = np.percentile(data,[25,50,75])

In [ ]:
per_arr

In [ ]:
q1 = per_arr[0]
q2 = per_arr[1]
q3 = per_arr[2]

In [ ]:
print(f"{q1}   {q2}   {q3}")

In [ ]:
IQR = q3-q1
lower_bound = (q1+(1.5*IQR))
upper_bound = (q3-(1.5*IQR))

In [ ]:
print(f"IQR is {IQR}")
print(f"lower bound is {lower_bound}")
print(f"upper bounnd is {upper_bound}")

In [ ]:
# outlier = [i for i in data if i > upper_bound]
outlier = []
# upper_bound =92.0
# lower_bound = -4.0
for i in data:
    if i < upper_bound:
        outlier.append(i)
    if i > lower_bound:
        outlier.append(i)

In [ ]:
print(outlier)

In [ ]:
import seaborn as sns

In [ ]:
sns.boxplot(data)

In [ ]:
for i in outlier:
    data.remove(i)

In [ ]:
data

In [ ]:
sns.boxplot(data)

In [ ]:
# varience
# standard dev

In [ ]:
np.var(data)

In [ ]:
np.std(data)

In [ ]:
# write manual logic for varince 
# 1/n * (i-mean)^2 for i 1 to n

In [ ]:
sum = 0;
for i in data:
    sum += (i - np.mean(data))**2
print(sum)
varience = sum/len(data)
print(varience)

In [ ]:
import math
std_dev = math.sqrt(varience)

In [ ]:
std_dev

In [ ]:
# #distributio of the data
# 1.normal
# 2.bernoli
# 3. log normal
# # different different test
# z-test
# t-test
# chi-squre test
# anova test

In [ ]:
# corr and cov
# sample and population
# central limit theoram

In [ ]:
data2

In [ ]:
sns.scatterplot(x = data2['SepalLengthCm'],y = data2['SepalWidthCm'])

In [ ]:
data2.corr(method='pearson')

In [ ]:
data2.corr(method='spearman')

In [ ]:
data2.corr(method='kendall')

In [ ]:
data2.head()

In [ ]:
data2 = data2.drop(['Id','Species'],axis=1)

In [ ]:
data2

In [ ]:
data2.cov()

In [ ]:
import numpy as np

In [ ]:
population = np.random.randint(10,20,50)

In [ ]:
population

In [ ]:
np.mean(population)

In [ ]:
np.median(population)

In [ ]:
mode(population)

In [ ]:
#sample
sample1=np.random.choice(population,20)
sample2=np.random.choice(population,20)
sample3=np.random.choice(population,20)
sample4=np.random.choice(population,20)

In [ ]:
print(sample1)
print(sample2)
print(sample3)
print(sample4)

In [ ]:
mean_of_samples=[]

all_sample=[sample1,sample2,sample3,sample4]

for sample in all_sample:
    mean_of_samples.append(np.mean(sample))

In [ ]:
mean_of_samples

In [ ]:
# central limit theoram

# we have any distribution lets say binomial dis or log normal dist of data
# will take a sample of the data(sample size>=30 and the data point in the sample can be anything)
# now will find out the mean
# and this mean will follow the normal distribution

In [ ]:
population=np.random.binomial(10,0.5,10000)

In [ ]:
population

In [ ]:
sns.displot(population)

In [ ]:
lognormal=np.random.lognormal(10,0.5,10000)

In [ ]:
sns.displot(lognormal)

In [ ]:
len(lognormal)

In [ ]:
SIZE=int(len(population)*0.30)

In [ ]:
SIZE

In [ ]:
sample_means=[]
for i in range(1,31):
    sample=np.random.choice(lognormal,size=SIZE)
    sample_means.append(np.mean(sample))

In [ ]:
sample_means

In [ ]:
sns.displot(sample_means,kde=True)

In [ ]:
sample_means=[]
for i in range(1,51):
    sample=np.random.choice(lognormal,size=SIZE)
    sample_means.append(np.mean(sample))

In [ ]:
sns.distplot(sample_means,kde=True)

In [ ]:
sample_means=[]
for i in range(1,101):
    sample=np.random.choice(lognormal,size=SIZE)
    sample_means.append(np.mean(sample))

In [ ]:
sns.distplot(sample_means,kde=True)

In [ ]:
sample_means=[]
for i in range(1,151):
    sample=np.random.choice(lognormal,size=SIZE)
    sample_means.append(np.mean(sample))

In [ ]:
sns.distplot(sample_means,kde=True)

In [ ]:
'''
#conclusion

you can take any distribution(here i am talking about population)

now you need to take sample(sample size will be more than n=30 as much as sample size will be it will follow the 
normal distribution accuratly)

in one sample you can take any number of data ponits but it will be less than population size

so it sample mean distribution follow the normal distrition it is my central limit theoram
'''